body {
  max-width: 600px;
  margin: auto;
  text-align: center;
  background-color: #202a63;
  color: whitesmoke;
}

p {
  text-align: justify;
}

img {
  border: 3px solid goldenrod;
  border-radius: 0.5rem;
}